<h1>Spiderman</h1>

<dl>
  <td>Nombre</td>
  <dd> {{ name }}</dd>

  <td>Edad</td>
  <dd> {{ age }}</dd>

  <td>Método</td>
  <dd> {{ getHeroDescription() }}:</dd>

  <td>Capitalizado</td>
  <dd>{{ capilaizeName }}:</dd>

</dl>

<button
  class="btn btn-primary mx-2"
  (click)="changeName()"
  *ngIf="name === 'spiderman'">
  Cambiar Nombre
</button>
<button
  class="btn btn-primary"
  (click)="changeAge()"
  *ngIf="age === 45">
  Cambiar Edad
</button>
<button
  class="btn btn-warning mx-2"
  (click)="resetForm()">
  Reset form
</button>
